{
  "Version": 2,
  "Defaults": {
    "solid": "Collide",
    "world": "Collide",
    "trigger": "Trigger",
    "ladder": "Ignore",
    "water": "Trigger",
    "playertrigger": "Unset",
    "player": "Unset"
  },
  "Pairs": [
    {
      "a": "solid",
      "b": "solid",
      "r": "Collide"
    },
    {
      "a": "trigger",
      "b": "playerclip",
      "r": "Ignore"
    },
    {
      "a": "trigger",
      "b": "solid",
      "r": "Trigger"
    },
    {
      "a": "playerclip",
      "b": "solid",
      "r": "Collide"
    },
    {
      "a": "playertrigger",
      "b": "player",
      "r": "Trigger"
    },
    {
      "a": "player",
      "b": "player",
      "r": "Collide"
    }
  ],
  "__guid": "e3f22032-6964-4020-8fe8-38dc2ce041de",
  "__schema": "configdata",
  "__type": "CollisionRules",
  "__version": 2
}